body{
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}

header{
    background-color:blue;
    height: 50px;
    width:100%;
    padding: 10px;
    word-spacing: 15px;
    text-align: center;
    
}

.navigation{
    background-color:rgb(237, 217, 6);
    color: black;
    height: 50px;
    width: 400px;
    word-spacing:10px;
    border-radius: 10px;
   
}
div{
    height: 50px;
    width: auto;
    background-color:rgb(233, 245, 255);
}
p{
    text-align: center;
    
}
a{
    padding: 10px;
    font-size:20px;
    text-decoration: none;
}